<mat-form-field class="chip-list">
  <mat-label>Skills</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter skills">
    @for (skill of skills; track $index) {
      <mat-chip-row
        (removed)="remove(skill)"
        [editable]="true"
        (edited)="edit(skill, $event)"
        [aria-description]="'press enter to edit ' + skill"
      >
        {{ skill }}
        <button matChipRemove [attr.aria-label]="'remove ' + skill">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input
      placeholder="New skill..."
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-grid>
</mat-form-field>
