@if (job) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ job.title }} </mat-card-title>
      <mat-card-subtitle>{{ job.description }} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="skill-status">
        <div class="skills">
          @for (skill of job.skills; track skill) {
            <mat-chip-set>
              <mat-chip>{{ skill }} </mat-chip>
            </mat-chip-set>
          } @empty {
            <span>No skills</span>
          }
        </div>

        <button mat-button [matMenuTriggerFor]="menu" class="job-status">
          {{ job.status }}
        </button>
        <mat-menu #menu="matMenu">
          @for (status of jobStatuses; track status.key) {
            <button
              mat-menu-item
              [disabled]="status.disabled"
              (click)="saveStatus(job.id, status.key)"
            >
              {{ status.value }}
            </button>
          }
        </mat-menu>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button (click)="goTo(job)">EDIT</button>
      <button mat-button (click)="deleteJob(job)">DELETE</button>
    </mat-card-actions>
  </mat-card>
}
