.skill-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .skills {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .job-status {
    text-transform: capitalize;
  }
}
